<div class="main-content">
  <div class="d-flex justify-content-center">
    <h4
      *ngIf="house.category==1">{{'flat' | translate }} {{'in' | translate }} {{house.city}}
      <svg *ngIf="house.verified" width="28" height="28" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0" fill="#2196f3"/><path d="m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0" fill="#fafafa"/></svg>
    </h4>
    <h4
      *ngIf="house.category==2">{{'house' | translate }} {{'in' | translate }} {{house.city}}
      <svg *ngIf="house.verified" width="28" height="28" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0" fill="#2196f3"/><path d="m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0" fill="#fafafa"/></svg>
    </h4>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <div class="slideshow-container">
          <div class="mySlides" *ngFor="let slide of house.photos">
            <div class="d-flex justify-content-center">
              <img src="{{slide}}" style="border-radius: 5px; {{getPreparedSize()}}">
            </div>
          </div>

          <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
          <a class="next" (click)="plusSlides(1)">&#10095;</a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="d-flex align-items-center">
          <table class="table borderless" style="max-width: 30vw; font-size: large;">
            <tbody>
            <tr>
              <td><b>{{'category' | translate }}:</b></td>
              <td>{{getCt()}}</td>
            </tr>
            <tr>
              <td><b>{{'country' | translate }}:</b></td>
              <td>{{house.country}}</td>
            </tr>
            <tr>
              <td><b>{{'city' | translate }}:</b></td>
              <td>{{house.city}}</td>
            </tr>
            <tr>
              <td><b>{{'roomsDet' | translate }}:</b></td>
              <td>{{house.roomsNumber}}</td>
            </tr>
            <tr>
              <td><b>{{'bathroomsDet' | translate }}:</b></td>
              <td>{{house.bathroomsNumber}}</td>
            </tr>
            <tr>
              <td><b>{{'price' | translate }}:</b></td>
              <td>${{house.price}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex align-items-center" style="margin-top: -1rem; margin-bottom: 1rem">
          <table style="font-size: large;">
            <tbody>
            <tr>
              <td><b>{{'owner' | translate }}:</b></td>
              <td>
                <a [routerLink]="['/owner-details',owner.id]" style="text-decoration: none; color: black;">
                  {{owner.name}}
                </a>
              </td>
            </tr>
            <tr>
              <td><b>{{'mobile' | translate }}:</b></td>
              <td>
                <a href="tel:{{owner.mobileNumber}}" style="color: black">{{owner.mobileNumber}}</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex align-content-center">
          <form #MonthsForm="ngForm" (ngSubmit)="CheckPeriod(MonthsForm)">
            <table style="font-size: large;">
              <tbody>
              <tr style="text-align: center">
                <td><b>{{'firstMonth' | translate }}</b></td>
                <td><br></td>
                <td><b>{{'lastMonth' | translate }}</b></td>
              </tr>
              <tr>
                <td style="max-width: 45vw">
                  <input type="month" class="form-control" #start_month="ngModel" name="start_month"
                         [ngModel]="startMonth" required>
                </td>
                <td><br></td>
                <td style="max-width: 45vw">
                  <input type="month" class="form-control" #end_month="ngModel" name="end_month" [ngModel]="endMonth"
                         required>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="alert alert-danger" role="alert" style="margin-top: 0.5rem; margin-bottom: 0"
                 [hidden]="!errorAlert">
              <strong class="pointer" data-toggle="modal" data-target="#UnavailableDates">Dates</strong> are used
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 0.5rem">
              <button type="submit" class="btn btn-md btn-secondary" style="width: 10rem;"
                      [disabled]="MonthsForm.invalid">
                {{buttonText}}
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                      [hidden]="!inProcess"></span>
              </button>
            </div>
          </form>
        </div>
        <div class="d-flex align-content-center">
          <table class="table borderless" style="max-width: 30vw; font-size: large;">
            <tbody>
            <tr>
              <td><b>{{'total' | translate }}:</b></td>
              <td>
                <p>${{total}}</p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: -3vh; {{getButtonSize()}}">
          <button style="font-size: large; width: 10rem" type="button" class="btn btn-lg btn-primary"
                  data-toggle="modal" data-target="#RentModal" [disabled]="!validDates">{{'rent' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="page-data">
    <p style="font-size: large; margin-left: 60%"><b>{{'fullAddress' | translate }}
      :</b> {{house.addressLine1}} {{house.addressLine2}}
      , {{house.city}}, {{house.country}}</p>
    <p style="font-size: medium">{{house.description}}</p>
  </div>

  <div style="display: none;">
    <div id="Receipt" class="container" style="background-color: white;">
      <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <address>
                <strong>rently.studio</strong>
                <br>
                Ukraine
                <br>
                Khmelnytskyi, 2900
                <br>
                <abbr>rently.studio@gmail.com</abbr>
              </address>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
              <p>
                <em>Date: {{payment.date}}</em>
              </p>
              <p>
                <em>Receipt #: {{payment.id}}</em>
              </p>
            </div>
          </div>
          <div class="row">
            <span>
              <h1>Receipt</h1>
            </span>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Building</th>
                <th>#</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="col-md-9"><em>Rent {{payment.house.id}}</em></td>
                <td class="col-md-1" style="text-align: center">{{payment.startMonth}}.{{payment.startYear}}
                  - {{payment.endMonth}}.{{payment.endYear}}</td>
                <td class="col-md-1 text-center">${{payment.house.price}}</td>
                <td class="col-md-1 text-center">${{total}}</td>
              </tr>
              <tr>
                <td>  </td>
                <td>  </td>
                <td class="text-right">
                  <p>
                    <strong>Subtotal: </strong>
                  </p>
                  <p>
                    <strong>Tax: </strong>
                  </p></td>
                <td class="text-center">
                  <p>
                    <strong>${{total}}</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td>  </td>
                <td>  </td>
                <td class="text-right"><h4><strong>Total: </strong></h4></td>
                <td class="text-center text-danger"><h4><strong>${{total}}</strong></h4></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="RentModal" tabindex="-1" role="dialog" aria-labelledby="RentTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RentTitle">{{'placeOrder' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="d-flex justify-content-center" style="margin-bottom: 2vh;"><h5>${{total}} {{'toPay' | translate }}:</h5></div>
          <div class="d-flex justify-content-center" style="margin-bottom: 2vh;">
            <google-pay-button style="width: 30vh;"
                               environment="TEST" buttonType="buy" buttonColor="white"
                               [paymentRequest]="googlePayConfig"
                               (loadpaymentdata)="onLoadPaymentData($event)">
            </google-pay-button>
          </div>
          <div class="d-flex justify-content-center" style="margin-bottom: 1vh;">
            <ngx-paypal style="width: 30vh;" [config]="payPalConfig"></ngx-paypal>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UnavailableDates" tabindex="-1" role="dialog" aria-labelledby="DatesTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DatesTitle">Unavailable dates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Dates from your list, as:</h5>
        <h6 *ngFor="let date of unavailableDates">{{date}}</h6>
        <h5>is <strong>unavailable</strong></h5>
      </div>
    </div>
  </div>
</div>
