//Imports:


//Global variables:
$dark-blue: #151f28
$light-blue: #76a7ae
$orange: #ff844c
$white: #f4f6f0
$header-size: 4rem

//Global styles:
select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  background: white url("C:/Users/Olexa/GitHub/rently/rently-front/src/assets/chevron-down.svg") no-repeat right center
  color: #000000
  border: 1px solid #000000
