<div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">

  <div class="d-flex align-items-center justify-content-center group-back input-group mb-3">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control search-input" placeholder="House location" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
      <button type="button" class="btn btn-lg search-button" (click)="searchHouse()">Search</button>
    </div>
  </div>

</div>

