<div class="main-content">
  <div *ngIf="payments.length<1" class="d-flex justify-content-center" style="padding-top: 2rem;">
    <h4>{{'noRents' | translate }}</h4>
  </div>
  <div class="d-flex justify-content-center" *ngFor="let item of payments">
    <div class="card text-center" style="margin-top: 2rem; width: 40em">
      <div class="card-header">
        {{item.id}}
      </div>
      <div class="card-body">
        <a [routerLink]="['/house-details',item.house.id]" style="text-decoration: none; color: #000000;">
          <h5 class="card-title">{{getCategory(item.house.category)}}: {{item.house.country}} - {{item.house.city}}</h5>
        </a>
        <p class="card-text">
          {{item.startMonth}}.{{item.startYear}} - {{item.endMonth}}.{{item.endYear}}
          <br>
          ${{item.totalPrice}}
        </p>
      </div>
      <div class="card-footer text-muted">
        {{item.date}}
      </div>
    </div>
  </div>
</div>
