@import "src/styles"
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')

.main-content
  margin-top: 1vh
  min-height: 92vh
  background: rgba($white, 0.95)

.bar
  position: fixed
  left: 1vh
  top: 10vh
  z-index: 1

  width: 32vh
  max-height: 90vh
  overflow-x: hidden
  overflow-y: scroll
  //scrollbar
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none

.sidebar
  height: 92%
  width: 0
  position: fixed
  z-index: 2
  top: $header-size
  right: 0
  background-color: rgba($white,0.9)
  padding-top: 24px
  transition: 0.5s

.sidebar-content
  height: 95%
  overflow-x: hidden
  overflow-y: scroll
  &::-webkit-scrollbar
    display: none

.search-button
  background-color: rgba(white, 0.8) !important
  color: $dark-blue
  border-radius: 0px 5px 5px 0px
  &:hover
    background-color: rgba($orange, 1) !important
    color: $white

body
  background-color: #eeeeee
  font-family: 'Open Sans', serif
  font-size: 14px

.filter-group
  border-bottom: 1px solid #e4e4e4

.card
  position: relative
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  min-width: 0
  word-wrap: break-word
  background-color: #fff
  background-clip: border-box
  border: 1px solid rgba(0, 0, 0, 0.1)
  border-radius: 0.37rem

.card-header
  padding: 0.75rem 1.25rem
  margin-bottom: 0
  background-color: #fff
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.card-body
  margin-top: -3vh

.filter-group .card-header
  border-bottom: 0

.icon-control
  margin-top: 6px
  float: right
  font-size: 80px

.list-menu
  list-style: none
  margin: 0
  padding-left: 0

.list-menu a
  color: $dark-blue

a
  text-decoration: none !important
  background-color: transparent

.checkbox-btn
  position: relative

.checkbox-btn input
  position: absolute
  z-index: -1
  opacity: 0

.checkbox-btn input:checked~.btn
  border-color: $orange
  background-color: $orange

.btn-light
  display: inline-block
  font-weight: 600
  color: #343a40
  text-align: center
  vertical-align: middle
  user-select: none
  background-color: #eee
  border: 1px solid #eee
  padding: 0.45rem 0.85rem
  font-size: 10px
  line-height: 1.5
  border-radius: 0.37rem

.btn-light:hover
  background-color: #fff
  border-color: #989898

.btn-medium
  font-size: 12px
  padding: 10px 22px
  display: inline-block
  margin-right: 20px
  letter-spacing: 2px
  border: 1px solid $orange
  width: 100%

.highlight-button:hover
  background-color: $orange
  border: 2px solid $orange
  color: #fff

.custom-control
  position: relative
  display: block
  min-height: 1.5rem
  padding-left: 1.5rem


.dollar
  display: inline-block
  position: relative

.dollar input
  padding-left: 15px

.dollar:before
  position: absolute
  content: "$"
  left: 5px
  top: 2px


/* Customize the label (the container) */
.container
  display: block
  position: relative
  padding-left: 20px
  margin-bottom: 5px
  cursor: pointer
  font-size: 16px
  user-select: none

/* Hide the browser's default checkbox */
.container input
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

/* Create a custom checkbox */
.checkmark
  position: absolute
  top: 5px
  left: 0
  height: 16px
  width: 16px
  background-color: #eee

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark
  background-color: #ccc

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark
  background-color: $orange

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
  content: ""
  position: absolute
  display: none

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after
  display: block

/* Style the checkmark/indicator */
.container .checkmark:after
  left: 6px
  top: 3px
  width: 5px
  height: 10px
  border: solid white
  border-width: 0 3px 3px 0
  transform: rotate(45deg)


.title
  color: $dark-blue
  font-size: 18px

.filterBtn
  position: fixed
  top: 4.5rem
  right: 1rem
  z-index: 2

  text-align: center
  padding-left: 0
  padding-right: 0
  font-size: 16px
  color: $white
  height: 3rem
  width: 3rem

  border: none
  border-radius: 50%
  background-color: rgba($dark-blue, 0.9)


/* nav-icon-4 */
.nav-icon-4
  width: 30px
  height: 30px
  position: relative
  cursor: pointer
  display: inline-block
.nav-icon-4 span
  background-color: $white
  position: absolute
  border-radius: 2px
  transition: .3s cubic-bezier(.8, .5, .2, 1.4)

.nav-icon-4 span:nth-child(1)
  width: 100%
  height:  3px
  display: block
  top: 5px
  left: 0
.nav-icon-4 span:nth-child(2)
  width: 80%
  height:  3px
  display: block
  top: 15px
  left: 10%
.nav-icon-4 span:nth-child(3)
  width: 60%
  height:  3px
  display: block
  bottom: 3px
  left: 20%

.nav-icon-4.open span:nth-child(1)
  transform: rotate(45deg)
  top: 15px
.nav-icon-4.open span:nth-child(2)
  opacity: 0
.nav-icon-4.open span:nth-child(3)
  transform: rotate(-45deg)
  width: 100%
  top: 15px
  left: 0

.responsive
  width: 320px
  height: 100px
@media(min-width: 500px)
  .responsive
    width: 468px
    height: 60px
@media(min-width: 800px)
  .responsive
    width: 728px
    height: 90px
