@import "src/styles"

.sidebar
  height: 100%
  width: 0
  position: fixed
  z-index: 2
  top: $header-size
  left: 0
  background-color: rgba($dark-blue, 0.85)
  overflow: hidden
  padding-top: 24px
  transition: 0.5s

.sidebar a
  padding: 8px 8px 8px 32px
  text-decoration: none
  font-size: 25px
  color: #818181
  display: block
  transition: 0.2s ease-out

.sidebar-content
  display: none
  overflow: hidden
.sidebar-content-open
  display: block
  animation: fadeout 1.2s ease-out
.sidebar-content-close
  animation: fadein 0.3s ease-in

.sidebar a:hover
  color: #f1f1f1

hr.solid
  border-top: 3px solid #818181
  margin: 1rem

.menu
  background-color: transparent
  border: none
  cursor: pointer
  display: flex
  padding: 0
  max-height: 3rem
  max-width: 3rem
  margin-top: -1.5rem
.line
  fill: none
  stroke: $white
  stroke-width: 6
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1)
.line1
  stroke-dasharray: 60 207
  stroke-width: 6
.line2
  stroke-dasharray: 60 60
  stroke-width: 6
.line3
  stroke-dasharray: 60 207
  stroke-width: 6
.opened .line1
  stroke-dasharray: 90 207
  stroke-dashoffset: -134
  stroke-width: 6
.opened .line2
  stroke-dasharray: 1 60
  stroke-dashoffset: -30
  stroke-width: 6
.opened .line3
  stroke-dasharray: 90 207
  stroke-dashoffset: -134
  stroke-width: 6

.background-img
  min-height: 100vh

  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url("C:/Users/Olexa/GitHub/rently/rently-front/src/assets/room.jpg")
  /* Full height */
  height: 100%
  /* Center and scale the image nicely */
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed

#main
  transition: margin-left .5s

@media screen and (max-height: 450px)
  .sidebar
    padding-top: 15px
  .sidebar a
    font-size: 18px

.header
  background-color: rgba($dark-blue, 0.9)
  height: $header-size
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
.page-content
  padding-top: $header-size
.sticky
  .header
    z-index: 2


.login-block
  margin: 30px auto
  min-height: 93.6vh

.login-block .auth-box
  margin: 20px auto 0
  max-width: 450px !important

.card
  border-radius: 5px
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1)
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1)
  border: none
  margin-bottom: 30px
  -webkit-transition: all .3s ease-in-out
  transition: all .3s ease-in-out
  background-color: #fff

.card .card-block
  padding: 1.25rem

.f-80
  font-size: 80px

.form-group
  margin-bottom: 1.25em

.form-material .form-control
  display: inline-block
  height: 43px
  width: 100%
  border: none
  border-radius: 0
  font-size: 16px
  font-weight: 400
  padding: 9px
  background-color: transparent
  -webkit-box-shadow: none
  box-shadow: none
  border-bottom: 1px solid #ccc

.btn-md
  padding: 10px 16px
  font-size: 15px
  line-height: 23px

.btn-primary
  background-color: #4099ff
  border-color: #4099ff
  color: #fff
  cursor: pointer
  -webkit-transition: all ease-in .3s
  transition: all ease-in .3s

.btn
  border-radius: 2px
  text-transform: capitalize
  font-size: 15px
  padding: 10px 19px
  cursor: pointer

.m-b-20
  margin-bottom: 20px

.btn-md
  padding: 10px 16px
  font-size: 15px
  line-height: 23px

.heading
  font-size: 21px

#infoMessage p
  color: red !important

.btn-google
  color: #545454
  background-color: #ffffff
  box-shadow: 0 1px 2px 1px #ddd

.or-container
  align-items: center
  color: #ccc
  display: flex
  margin: 25px 0

.line-separator
  background-color: #ccc
  flex-grow: 5
  height: 1px

.or-label
  flex-grow: 1
  margin: 0 15px
  text-align: center

.profile-a
  cursor: pointer

/*FOOTER*/

#scrollToTopBtn
  position: fixed
  right: 1rem
  bottom: 1rem
  z-index: 2

  display: none

  background-color: rgba($dark-blue, 0.9)
  border: none
  border-radius: 50%
  color: $white
  cursor: pointer
  font-size: 16px
  text-align: center
  padding-left: 0
  padding-right: 0
  line-height: 3rem
  width: 3rem


/*VALIDATION INFO*/
.invalid
  color: red
  font-size: small


/*FRAMES*/
@keyframes fadeout
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadein
  0%
    opacity: 1
  100%
    opacity: 0
